#redis config
REDIS_HOST=job_scheduler_redis
REDIS_PORT=6379
REDIS_PASSWORD=adminStrongPass
# REDIS_USER=admin for local testing only

#app config
APP_PORT=8080

#mysql local config
DB_USER=root
DB_PASSWORD=Password22Rahasia
DB_HOST=localhost
DB_PORT=3306
DB_NAME=job_scheduler_db

#mysql config
DB_HOST=job_scheduler_db
DB_PORT=3306
DB_HOST_PORT=3307
DB_USER=job_scheduler_user
DB_PASSWORD=Password22Rahasia
DB_NAME=job_scheduler_db
MYSQL_ROOT_PASSWORD=root_password
